.imageScroll {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}
.gradient {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 15vh;
    z-index: 10;
}
.topGradient {
    top: 0;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
.bottomGradient {
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.testet {
    background-color: white;
    height: 100vh;
    width: 100px;
}

.imageSlides__container {
    margin: 0 24px;
    display: flex;
}
.imageSlides__column {
    width: 25%;
    /* animation: slide-up 10000ms 1 linear ; */
}
.imageSlides__column:hover {
    animation-play-state: paused;
}
.image {
    width: 100%;
    height: 500px;
    border: 5px solid yellow;
    background-color: white;
}

.imageColumn--active {
    animation: slide-up 10000ms linear 
}


@keyframes slide-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(calc(-100% + 100vh)); }
}

